/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header, footer {
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

/* Styles for specific elements */
.grooming-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout for grooming items */
    grid-gap: 20px;
}

.grooming-item {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.content {
    display: none;
    padding: 0 18px;
    overflow: hidden;
    background-color: #afefc4;
    border-radius: 5px;
}

.collapsible {
    background-color: #2ecc71;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin-bottom: 10px;
    border-radius: 5px;
}

.collapsible.active {
    background-color: #27ae60;
}

.collapsible-set {
    margin-bottom: 20px;
}
